<%= form_with path: credential_search_path, method: :get, local: true do |f| %>
  <div class="form-row align-items-center">
    
     <div class="col-sm-5 my-1">
     
     <%= collection_check_boxes :credential_name, :name,Credential.all, :name,:name,{multiple: true} %>
     </div>
    
  
    <div class="col-auto my-1">
      <%= button_tag 'Search', class: "btn btn-primary" %>
    </div>
  </div>  
<% end %>


